
@{
    ViewData["Title"] = "Boletin";
}

<div class="container mt-100">
    <h3 class="text-center mb-5">Suscribete, para que recibas nuestras ofertas vía correo</h3>
    <div class="row d-flex justify-content-center ">

        <form class="formF mb-5">
            <div class="form-group">
                <label for="inputPassword4">Nombre</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Nombre">
            </div>
            <div class="form-group">
                <label for="inputPassword4">Apellido</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Apellido">
            </div>

            <div class="form-group">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>

            <button type="submit" class="btn btn-success"> Guardar</button>
        </form>
    </div>
</div>
