@model Theworkspacerd.Web.Models.Mensaje
@{
    ViewData["Title"] = "Contacto";
}

<h1>ESPACIOS ADECUADOS A TUS NECESIDADES</h1>

<div class="container mt-100">
    <div class="row">
        <div class="col-12 col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.427884310603!2d-69.92601958462095!3d18.464267775711626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eaf89e96336a75b%3A0x141898cad9e3799c!2sTorre%20Corporativa%20Bolivar%20195!5e0!3m2!1ses-419!2sdo!4v1617103308487!5m2!1ses-419!2sdo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          
        </div>
        <div class="col-12 col-md-6">
            <form asp-action="Contacto" asp-controller="Home" method="post">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Email</label>
                        <input asp-for="Email"  class="form-control"   placeholder="Email">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Nombre</label>
                        <input asp-for="Nombre"   class="form-control"   placeholder="Nombre">
                    </div>
                </div>
                <div class="form-row mb-5">
                    <label for="exampleFormControlTextarea1">Mensaje</label>
                    <textarea asp-for="Texto" class="form-control"  rows="3"></textarea>
                </div>

                <button type="submit" class="btn btn-primary"><i class="far fa-paper-plane"></i> Enviar</button>
            </form>
        </div>
    </div>
</div>



