
@{
    ViewData["Title"] = "CorreosEnviardos";
}


<div class="container mt-100">
    <div class="col-12 mb-3 text-center">
        <i class="fas fa-paper-plane" style="font-size:200px"></i>
    </div>
    <div class="col-12 text-center mb-5 pb-5">
        <h2>Se envio un correo con toda la información de la reserva a:<br/> <p class="text-center"><b>@ViewBag.email</b></p> </h2>
    </div>
</div>
