@{
    ViewData["Title"] = "Home Page";
}

<header class="slider white-space-bottom">
    <div class="container">
        <div class="swiper-container slider-content">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="inner">
                        <h2>
                            Oficinas
                            <b>Privadas</b>
                        </h2>
                        <p>Puedes Rentarlas aqui</p>
                        <a href="#">Ver Planes <i class="lni lni-arrow-right"></i></a>
                    </div>
                    <!-- end inner -->
                </div>
                <!-- end swiper-slide -->
                <div class="swiper-slide">
                    <div class="inner">
                        <h2>Espacios <b>Compartidos</b></h2>
                        <p>Puedes ver los espacios disponibles</p>
                        <a href="#">Ver espacios <i class="lni lni-arrow-right"></i></a>
                    </div>
                    <!-- end inner -->
                </div>
                <!-- end swiper-slide -->
                <div class="swiper-slide">
                    <div class="inner">
                        <h2>Espacios <b>Abiertos</b></h2>
                        <p>Espacios disponibles</p>
                        <a href="#">Ver planes <i class="lni lni-arrow-right"></i></a>
                    </div>
                    <!-- end inner -->
                </div>
                <!-- end swiper-slide -->
                <div class="swiper-slide">
                    <div class="inner">
                        <h2>Salón de <b>Reuniones</b></h2>
                        <p>Pues realizar tus reuniones con un excelente confort</p>
                        <a href="#">Ver coutas <i class="lni lni-arrow-right"></i></a>
                    </div>
                    <!-- end inner -->
                </div>
                <!-- end swiper-slide -->
                <div class="swiper-slide">
                    <div class="inner">
                        <h2>Oficina <b>Virtual</b></h2>

                        <a href="#">Ver planes <i class="lni lni-arrow-right"></i></a>
                    </div>
                    <!-- end inner -->
                </div>
                <!-- end swiper-slide -->
            </div>
            <!-- end swiper-wrapper -->
            <div class="controls">
                <div class="swiper-pagination"></div>
                <!-- end swiper-pagination -->
                <div class="button-prev"><i class="lni lni-arrow-left"></i></div>
                <!-- end button-prev -->
                <div class="button-next"><i class="lni lni-arrow-right"></i></div>
                <!-- end button-next -->
            </div>
            <!-- end controls -->

        </div>
        <!-- end slider-content -->
        <div class="swiper-container slider-main">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slide-image" data-background="/images/Oficina-privada.jpg"></div>
                </div>
                <!-- end swiper-slide -->
                <div class="swiper-slide">
                    <div class="slide-image" data-background="/images/ESPACIO-COMPARTIDO.jpg"></div>
                </div>
                <!-- end swiper-slide -->
                <div class="swiper-slide">
                    <div class="slide-image" data-background="/images/ESPACIO-ABIERTO.jpg"></div>
                </div>
                <div class="swiper-slide">
                    <div class="slide-image" data-background="/images/Salon-de-Reuniones.jpg"></div>
                </div>
                <div class="swiper-slide">
                    <div class="slide-image" data-background="/images/OFICINA-VIRTUAL.jpg"></div>
                </div>
                <!-- end swiper-slide -->
            </div>
            <!-- end swiper-wrapper -->
            @*<div class="header-box"> <b>27</b> <small>YEARS OF EXPERIENCE</small> </div>*@
            <!-- end header-box -->
        </div>
        <!-- end slider-main -->
    </div>
    <!-- end container -->
</header>
<!-- end slider -->

<section class="content-section">
    <div class="section-title">
        <h2>Beneficios</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="icon-content">
                    <figure><img src="images/aumento_productividad.png" alt="Image"></figure>
                    <h3>Aumento de productividad</h3>
                </div>
                <!-- end icon-content -->
            </div>
            <!-- end col-4 -->
            <div class="col-lg-4">
                <div class="icon-content">
                    <figure><img src="images/nuevos_clientes.png" alt="Image"></figure>
                    <h3>Nuevos Clientes</h3>
                    @*<small>Twenty spring of in esteem spirit likely estate continue new building</small> <a href="#">+</a>*@
                </div>
                <!-- end icon-content -->
            </div>
            <!-- end col-4 -->
            <div class="col-lg-4">
                <div class="icon-content">
                    <figure><img src="images/expandir _ed.png" alt="Image"></figure>
                    <h3>Expandir red de contactos</h3>

                </div>
                <!-- end icon-content -->
            </div>
            <!-- end col-4 -->
            <div class="col-lg-4">
                <div class="icon-content">
                    <figure><img src="images/acceso_mercados.png" alt="Image"></figure>
                    <h3>Acceso a nuevo segmento mercado</h3>

                </div>
                <!-- end icon-content -->
            </div>
            <!-- end col-4 -->
            <div class="col-lg-4">
                <div class="icon-content">
                    <figure><img src="images/nuevas_oportunidades.png" alt="Image"></figure>
                    <h3>Nuevas oportunidades de negocios</h3>

                </div>
                <!-- end icon-content -->
            </div>
            <!-- end col-4 -->
            <div class="col-lg-4">
                <div class="icon-content">
                    <figure><img src="images/nueva_ingresos.png" alt="Image"></figure>
                    <h3>Nuevas fuentes de ingresos</h3>

                </div>
                <!-- end icon-content -->
            </div>
            <!-- end col-4 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end content-section -->
<section class="content-section white-space-bottom" data-background="#f7f6f1">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="section-title text-left">
                    <h6>FRIEND SALES TEAM</h6>
                    <h2>Projects Completed</h2>
                </div>
                <!-- end section-title -->
            </div>
            <!-- end col-7 -->
            <div class="col-lg-5">
                <p>Our diverse portfolio represents decades of construction experience backed by a passion for quality, outstanding client service industry technologies.</p>
            </div>
            <!-- end col-5 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
    <div class="swiper-container project-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <figure class="project-box">
                    <a href="#"><img src="images/slide02.jpg" alt="Image"></a>
                    <figcaption>
                        <h5>Life Science Center</h5>
                        <p>The building opened in 2020 and includes more than 120+ flats</p>
                    </figcaption>
                </figure>
            </div>
            <!-- end swiper-slide -->
            <div class="swiper-slide">
                <figure class="project-box">
                    <a href="#"><img src="images/slide03.jpg" alt="Image"></a>
                    <figcaption>
                        <h5>Life Science Center</h5>
                        <p>The building opened in 2020 and includes more than 120+ flats</p>
                    </figcaption>
                </figure>
            </div>
            <!-- end swiper-slide -->
            <div class="swiper-slide">
                <figure class="project-box">
                    <a href="#"><img src="images/slide01.jpg" alt="Image"></a>
                    <figcaption>
                        <h5>Life Science Center</h5>
                        <p>The building opened in 2020 and includes more than 120+ flats</p>
                    </figcaption>
                </figure>
            </div>
            <!-- end swiper-slide -->
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <!-- end project-slider -->
</section>
<!-- end content-section -->
<section class="content-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section-title">

                    <h2>Planes</h2>
                </div>
                <!-- end section-title -->
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-sm-6 col-md-2">
                <div class="recent-news">
                    <figure> <img src="~/images/Oficina-privada.jpg" alt="Image"> </figure>
                    <div class="content">
                        <h3><a href="#">Oficinas Privadas</a></h3>
                    </div>
                    <!-- end content -->
                </div>
                <!-- end recent-news -->
            </div>
            <!-- end col-4 -->
            <div class="col-12  col-sm-6 col-md-2">
                <div class="recent-news">
                    <figure> <img src="~/images/ESPACIO-COMPARTIDO.jpg" alt="Image"> </figure>
                    <div class="content">
                        <h3><a href="#">Espacios Compartidos</a></h3>
                    </div>
                    <!-- end content -->
                </div>
                <!-- end recent-news -->
            </div>
            <!-- end col-4 -->
            <div class="col-12  col-sm-6 col-md-2">
                <div class="recent-news">
                    <figure> <img src="~/images/ESPACIO-ABIERTO.jpg" alt="Image"> </figure>
                    <div class="content">
                        <h3><a href="#">Espacios Abiertos</a></h3>
                    </div>
                    <!-- end content -->
                </div>
                <!-- end recent-news -->
            </div>
            <!-- end col-4 -->
            <div class="col-12  col-sm-6 col-md-2">
                <div class="recent-news">
                    <figure> <img src="~/images/Salon-de-Reuniones.jpg" alt="Image"> </figure>
                    <div class="content">
                        <h3><a href="#">Salón de Reuniones</a></h3>
                    </div>
                </div>
                <!-- end recent-news -->
            </div>
            <!-- end col-4 -->
            <div class="col-12  col-sm-6 col-md-2">
                <div class="recent-news">
                    <figure> <img src="~/images/OFICINA-VIRTUAL.jpg" alt="Image"> </figure>
                    <div class="content">
                        <h3><a href="#">Oficinas Virtual</a></h3>
                        <!-- end author -->
                    </div>
                    <!-- end content -->
                </div>
                <!-- end recent-news -->
            </div>
            <!-- end col-4 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end content-section Planes -->
