
@{
    ViewData["Title"] = "Nosotros";
}
<div class="container mt-100">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-5"><span class="bt-amarillo">Sobre Nosotros</span> </h1>
            <img src="~/images/creatividad.png" class="d-block m-auto"/>
        </div>
        <p>Nuestras instalaciones han sido diseñadas para proveer soluciones de trabajo innovadoras y flexibles,
        que ayuden a las empresas a disfrutar de un servicio profesional y a la medida de sus necesidades. 
        Nuestros clientes se benefician de oficinas modernas, equipadas y gestionadas por nuestro personal, 
        además de salones de reuniones, servicio de oficina virtual y áreas de esparcimiento que combinan la máxima 
        flexibilidad, diseño y tecnología de punta.</p>
      
    </div>
</div>

