
@{
    ViewData["Title"] = "Nosotros";
}
<div class="container mt-100">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-5"><span class="bt-amarillo">Sobre Nosotros</span> </h1>
            <img src="~/images/creatividad.png" class="d-block m-auto" />
        </div>
        <p class="mt-5">
            <b>The Workspace</b>  es un espacio de coworking que ofrece los mejores beneficios para hacerte crecer a ti a
            tu negocio en un ambiente cómodo, profesional y con buena vibra..
        </p>
        <p>
            Los colores seleccionados reflejan
            el servicio directamente. El amarillo
            brinda una sensación de energía,
            positividad y dinamismo, mientras
            que el gris le da un aspecto de
            profesionalidad y tranquilidad.
        </p>
        <p class="mb-5">
            Asimismo, el círculo es una forma
            geométrica flexible. Evoca la
            perfección. Además es sinónimo de
            protección, movimiento y
            adaptibilidad, lo que lleva a
            transmitir vida social y creatividad.
        </p>

    </div>
</div>

