
@{
    ViewData["Title"] = "Servicios";
}



<div class="container mt-100">
    <h1 class="text-center mb-5"><span class="bt-amarillo">Beneficios de nuestro espacio</span> </h1>

    <div class="row mb-5">
        <div class="col-4"><a href="#"><i class="fas fa-utensils"></i>  Área de comedor</a></div>
        <div class="col-4"><a href="#"><i class="fas fa-couch"></i>  Espacios cómodos</a></div>
        <div class="col-4"><a href="#"><i class="fas fa-wifi"></i>  Internet ilimitado</a></div>

        <div class="col-4"><a href="#"><i class="fas fa-glass-whiskey"></i>  Estación liquida</a></div>
        <div class="col-4"><a href="#"><i class="fas fa-user-tie"></i>  Ambiente profesional</a></div>
        <div class="col-4"><a href="#"><i class="fas fa-user-shield"></i>  Seguridad</a></div>
    </div>

    <h1 class="text-center mb-5"><span class="bt-amarillo">Servicios que ofrecemos</span> </h1>
    <div class="row mb-5">
        <div class="col-12 col-md-6">
            <h2><span class="bt-amarillo">Co-working</span></h2>
            <p class="text-justify">
                Elige el espacio de trabajo que se adecue a tus necesidades y desarrolla todas las ideas que hagan crecer tu proyecto.
            </p>
        </div>
        <div class="col-12 col-md-6">
            <img src="~/images/OFICINA-VIRTUAL.jpg" style="height:300px" />
        </div>

        <div class="col-12 col-md-6 mt-5">
            <img src="~/images/ASISTENTE-VIRTUAL.JPG" style="height:300px" />
        </div>
        <div class="col-12 col-md-6 mt-5">
            <h2><span class="bt-amarillo">Secretaria Virtual</span></h2>
            <p class="text-justify">
                Es el soporte necesario para tu proyecto que te permitirá mayor alcance de negocio.
                Ofrecemos gestiones administrativas técnicas y de viaje.
            </p>
        </div>

        <div class="col-12 col-md-6 mt-5">
            <h2><span class="bt-amarillo">Sala de conferencias</span></h2>
            <p class="text-justify">
                Es el espacio perfecto para realizar reuniones con tus clientes o con los inversionistas que harán realidad lo que tanto has idealizado.
            </p>
        </div>
        <div class="col-12 col-md-6 mt-5">
            <img src="~/images/Salon-de-Reuniones.jpg" style="height:300px" />
        </div>

        <div class="col-12 col-md-6 mt-5">
            <img src="~/images/ESPACIO-ABIERTO.jpg" style="height:300px" />
        </div>
        <div class="col-12 col-md-6 mt-5">
            <h2><span class="bt-amarillo">Salón de eventos</span></h2>
            <p class="text-justify">
                Contamos con un espacio para realizar cualquier workshow o presentación que necesite tu proyecto.
                <b>Capacidad de 20 a 60 personas</b>
            </p>
        </div>

    </div>
</div>